[user]
    name = Will Sheppard
    email = nobody@example.com
    # For github to recognise my commits and link to my profile:
    #   email = 1519594+willsheppard@users.noreply.github.com
    # To fix commit author:
    #   git commit --amend --reset-author

[core]
    editor = /usr/bin/vim
    # make colours get escaped properly
    pager = less
    autocrlf = input

[alias]
    co = checkout
    st = status
    logg = log --color --stat=200,200 --decorate --abbrev-commit --relative
    tree = log --oneline --graph --color
    treed = log --oneline --graph --color --decorate

[diff]
    # don't show a/ and b/ at the beginning of filepaths in diffs
    noprefix = true

[push]
    # Push to @{upstream} unless the name is different. See http://git-scm.com/docs/git-config
    # old versions
    #default = current
    # newer versions
    default = upstream

[branch]
#    # Rebase upon pull for all branches
#    autosetuprebase = always
#    rebase = true

[branch "master"]
#    # Rebase upon pull for all master
#    rebase = true

[rerere]
    # Remember recorded resolutions
    enabled = 1

[merge]
    conflictstyle = diff3
    ff = false

[credential]
    helper = cache --timeout=2678400 # 31 days
